@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.bgCombined {
  background-image: url("/images/bg-pattern-top.svg"), url("/images/bg-pattern-bottom.svg");
  background-size: 70%, 70%;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: right 50vw  top -80vh, left 45vw  top 45vh; 
}


